<!DOCTYPE html>
<html>
<head>
    <title>One Piece</title>
    <meta property="og:title", content="Watch One Piece" />
    <meta property="og:description", content="Watch newest one piece episode" />
  
</head>
<body style="background-color:#242424">
    <p align="center"><iframe src="{{ vid }}" height="720" width="1024" allowfullscreen="true" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
    <p align="center">
	    <a href="{{ download }}">
            <button style="color:white;background-color:#363d44;font-size:16px;">Download</button>
        </a>
	</p>
</body>
</html>